body{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.container{
	display: block;
	position:relative;
	width:1200px;
	height:auto;
	margin:0 auto;
}
.wrapper{
	position: relative;
	float: left;
	width: 100%;
}
.button{
	display: inline-block;
	background-color: #2fa0e0;
	padding: 6px 16px;
	text-decoration: none;
	outline: 0;
	font-weight: 500;
	color: #fff;
	border: 0;
}
.button:hover{
	background-color: #F0AB00;
	color: #fff;
}
/*
*
* Main Css Styles
*/

#header{
	background-color: #000;
	z-index: 999;
}
#topLogo{
	float: left;
	margin-top: 10px;
}
#topNav{
	float: right;
}
#topNav .navMenu{
	float: left;
}
#topNav .navMenu li{
	position: relative;
	height: 65px;
	display: table-cell;
    vertical-align: middle;
}
#topNav .navMenu li:hover{
	cursor: pointer;
	background-color: #f0ab00;
}
#topNav .navMenu li a{
	text-decoration: none;
	padding: 0 16px;
	color: #fff;
	font-weight: 500;
}
#topNav .navMenu li:hover > a{
	color: #000;
}
#topNav .navMenu li:hover > .navMenuSub{
	display: block;
	z-index: -1;
}
#topNav .navMenu li .navMenuSub{
	display: none;
	position: absolute;
	width: 160%;
	background-color: inherit;
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.2);
	z-index: 0;
}
#topNav .navMenu li > .navMenuSub{
	top: 100%;
}
#topNav .navMenu li .navMenuSub li{
	display: block;
	height: auto;
}
#topNav .navMenu li .navMenuSub li a{
	display: block;
	padding: 16px 0;
	text-indent: 16px;
}
#topNav .navMenu li .navMenuSub li:not(:last-child){
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
#topNav .navMenu li .navMenuSub li .navMenuSub{
	left: 100%;
	top: 0;
	z-index: -1;
}
#topNav .navMenu li .navMenuSub li:hover > a{
	color: #000;
	background-color: rgba(255,255,255,0.3);
}


#footer{
	background-color: #e9e9e9;
	z-index: 999;
	padding: 26px 0;
}
#footer #bottomLogo{}
#bottomNav,
#bottomNav .navMenu{
	float: right;
}
#bottomNav .navMenu li{
	float: left;
	position: relative;
	margin-left: 32px;
}
#bottomNav .navMenu li:hover{
	cursor: pointer;
}
#bottomNav .navMenu li a{
	font-size: 11px;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	padding: 5px;
}
#bottomNav .navMenu li:hover > a{
	color: #000;
	background-color: rgba(255,255,255,0.3);
}


.headline{
	padding: 100px 0;
}
.headline h1{
	display: block;
	font-size: 56px;
	color: #F0AB00;
	font-weight: 600;
}
.headline p{
	display: block;
	font-size: 34px;
	margin-top: 15px;
	margin-bottom: 30px;
	line-height: 40px;
	color: #222;
}
.headline .button{
	padding: 14px 30px;
}